{{! This is the post loop - each post will be output using this markup }}
        
    <div class="container-fluid posts">
        {{#foreach posts}}
            <div class="row {{#if @even}}post-even{{else}}post-odd{{/if}}">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                    <article class="{{post_class}}">
                        <header class="post-header">
                            <div class="post-tags">
                                {{#foreach tags}}
                                    <a href="{{url}}"><span class="label label-primary">{{name}}</span></a>
                                {{/foreach}}
                            </div>
                            <h2><a class="post-title" href="{{url}}">{{title}}</a></h2>
                            <div class="post-author">
                                <a href="{{#author}}{{url}}{{/author}}">
                                    <img class="author-avatar u-xs-size32x32 u-sm-size36x36" src="{{#if author.image}}{{author.image}}{{else}}{{asset "images/missing_face.png"}}{{/if}}" alt="{{author.name}}" />
                                </a>
                                <span class="author-name">{{author}}</span>
                                <span class="published-date">{{date published_at timeago="true"}}</span>
                            </div>
                        </header>
                        <section class="post-excerpt">
                            <p>{{excerpt characters="140"}}...</p>
                            <a class="readmore btn btn-default btn-sm" href="{{url}}">继续阅读</a>
                        </section>
                    </article>
                </div>
            </div>
        {{/foreach}}
    </div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}





